[submodule "tfjs-rock-paper-scissors"]
	path = chapter6/tfjs-rock-paper-scissors
	url = https://github.com/reiinakano/tfjs-rock-paper-scissors
[submodule "tfjs-lstm-text-generation"]
	path = chapter6/tfjs-lstm-text-generation
	url = https://github.com/reiinakano/tfjs-lstm-text-generation
[submodule "chapter6/tfjs-autoencoder"]
	path = chapter6/tfjs-autoencoder
	url = https://github.com/reiinakano/tfjs-autoencoder
