[submodule "chapter8/tfjs-lstm-text-generation"]
	path = chapter8/tfjs-lstm-text-generation
	url = git@github.com:reiinakano/tfjs-lstm-text-generation.git
[submodule "chapter8/tfjs-autoencoder"]
	path = chapter8/tfjs-autoencoder
	url = git@github.com:reiinakano/tfjs-autoencoder.git
[submodule "chapter8/tfjs-rock-paper-scissors"]
	path = chapter8/tfjs-rock-paper-scissors
	url = git@github.com:reiinakano/tfjs-rock-paper-scissors
